:root {


  --old-gold: hsla(51, 58%, 58%, 1);
  --papaya-whip: hsla(35, 100%, 92%, 1);
  --pink: hsla(349, 88%, 87%, 1);
  --pink-darker: hsla(349, 88%, 77%, 1);
  --deep-taupe: hsla(338, 17%, 41%, 1);
  --blue-jeans: hsla(204, 85%, 61%, 1);
  --blue-jeans-darker: hsla(204, 85%, 51%, 1);

  /* --color-background:  rgb(255, 255, 255); */
  --color-primary: var(--pink);
  --color-background: rgb(255, 255, 255);
  --color-background-darker: rgb(235, 235, 235);
  --color-page-background: rgb(245, 245, 245);

  --color-border: var(--deep-taupe);
  --color-button: var(--blue-jeans);
  --color-button-darker: var(--blue-jeans-darker);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
}

strong {
  font-weight: bold;
}
