.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  
}

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 1rem;
  
}

.sectionHead {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sectionHead button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(var(--color-button));
  border: 1px solid black;
 
}

.sectionHead button:active {
  background-color: rgb(var(--color-button-darker));
}

.section textarea {
  flex: 1;
  padding: 0.5rem;
  font-size: larger;
  border-radius: 5px;
}

